--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2
-- Dumped by pg_dump version 15.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE "ExercisePlatformDB";
--
-- Name: ExercisePlatformDB; Type: DATABASE; Schema: -; Owner: -
--

CREATE DATABASE "ExercisePlatformDB" WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'English_United States.1252';


\connect "ExercisePlatformDB"

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE "ExercisePlatformDB"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON DATABASE "ExercisePlatformDB" IS 'Dump into file and push to Render';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Main_exercise; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_exercise" (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    exercise_type character varying(20) NOT NULL
);


--
-- Name: Main_exercise_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_exercise" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_exercise_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Main_profile; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_profile" (
    id bigint NOT NULL,
    height double precision NOT NULL,
    weight double precision NOT NULL,
    "BMI" double precision,
    user_id bigint NOT NULL,
    "Goal_BMI" double precision,
    "Goal_Weight" double precision
);


--
-- Name: Main_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_profile" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_profile_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Main_set; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_set" (
    id bigint NOT NULL,
    reps integer NOT NULL,
    weight double precision NOT NULL,
    exercise_id bigint NOT NULL,
    workout_session_id integer NOT NULL
);


--
-- Name: Main_set_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_set" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_set_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Main_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_user" (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    "BMI" double precision
);


--
-- Name: Main_user_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_user_groups" (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: Main_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_user_groups" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_user_groups_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Main_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_user" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_user_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Main_user_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_user_user_permissions" (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: Main_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_user_user_permissions" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_user_user_permissions_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Main_weightheightentry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_weightheightentry" (
    id bigint NOT NULL,
    weight double precision NOT NULL,
    height double precision NOT NULL,
    date_recorded date NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: Main_weightheightentry_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_weightheightentry" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_weightheightentry_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Main_workoutsession; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Main_workoutsession" (
    title character varying(100) NOT NULL,
    id integer NOT NULL,
    date timestamp with time zone NOT NULL,
    duration interval NOT NULL,
    profile_id bigint NOT NULL,
    workout_type character varying(20) NOT NULL,
    end_time time without time zone NOT NULL,
    start_time time without time zone NOT NULL,
    curr_body_weight double precision NOT NULL
);


--
-- Name: Main_workoutsession_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public."Main_workoutsession" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Main_workoutsession_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Data for Name: Main_exercise; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Main_exercise" (id, name, exercise_type) FROM stdin;
\.


--
-- Data for Name: Main_profile; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Main_profile" (id, height, weight, "BMI", user_id, "Goal_BMI", "Goal_Weight") FROM stdin;
1	5	150	59999.999999999985	3	\N	\N
2	0.02	30.838	77095	4	\N	\N
3	0.01	29.4775	294775	7	\N	\N
4	0.019	20.861	57786.703601108034	8	30	34
5	0.021	15.419	34963.71882086168	9	21	12
\.


--
-- Data for Name: Main_set; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Main_set" (id, reps, weight, exercise_id, workout_session_id) FROM stdin;
\.


--
-- Data for Name: Main_user; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Main_user_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Main_user_groups" (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: Main_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Main_user_user_permissions" (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: Main_weightheightentry; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Main_weightheightentry" (id, weight, height, date_recorded, user_id) FROM stdin;
\.


--
-- Data for Name: Main_workoutsession; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
5	Cappubean	2024-06-30 08:55:57.375063-04	t	CalvinKwok	Calvin	Kwok	nopea@gmail.com	t	t	2024-06-30 08:55:57.375063-04
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	Main	user
8	Main	profile
9	Main	exercise
10	Main	workoutsession
11	Main	set
12	Main	weightheightentry
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
c929f7p4ft91cey6bwy3y0jf23x38t1z	.eJxVjDsOwjAQBe_iGlle_A0lfc5geb1rHECOFCcV4u4QKQW0b2beS8S0rTVunZc4kbgIK06_G6b84LYDuqd2m2We27pMKHdFHrTLcSZ-Xg_376CmXr81D9qos8vFQEBIRJpNgEHr7AMoq1VhB56Cy8SekraApAAwG4sKC4n3B9TsN-8:1sNthE:QwxP2epyxk5zexAJSpK6rqb0blOefLVZJIziYtNZpRI	2024-07-14 08:30:20.103392-04
\.


--
-- Name: Main_exercise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_exercise_id_seq"', 1, false);


--
-- Name: Main_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_profile_id_seq"', 5, true);


--
-- Name: Main_set_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_set_id_seq"', 1, false);


--
-- Name: Main_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_user_groups_id_seq"', 1, false);


--
-- Name: Main_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_user_id_seq"', 9, true);


--
-- Name: Main_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_user_user_permissions_id_seq"', 1, true);


--
-- Name: Main_weightheightentry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_weightheightentry_id_seq"', 1, false);


--
-- Name: Main_workoutsession_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Main_workoutsession_id_seq"', 12, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 16, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 26, true);


--
-- Name: Main_exercise Main_exercise_name_85b114d6_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_exercise"
    ADD CONSTRAINT "Main_exercise_name_85b114d6_uniq" UNIQUE (name);


--
-- Name: Main_exercise Main_exercise_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_exercise"
    ADD CONSTRAINT "Main_exercise_pkey" PRIMARY KEY (id);


--
-- Name: Main_profile Main_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_profile"
    ADD CONSTRAINT "Main_profile_pkey" PRIMARY KEY (id);


--
-- Name: Main_profile Main_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_profile"
    ADD CONSTRAINT "Main_profile_user_id_key" UNIQUE (user_id);


--
-- Name: Main_set Main_set_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_set"
    ADD CONSTRAINT "Main_set_pkey" PRIMARY KEY (id);


--
-- Name: Main_user_groups Main_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_groups"
    ADD CONSTRAINT "Main_user_groups_pkey" PRIMARY KEY (id);


--
-- Name: Main_user_groups Main_user_groups_user_id_group_id_024af15f_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_groups"
    ADD CONSTRAINT "Main_user_groups_user_id_group_id_024af15f_uniq" UNIQUE (user_id, group_id);


--
-- Name: Main_user Main_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user"
    ADD CONSTRAINT "Main_user_pkey" PRIMARY KEY (id);


--
-- Name: Main_user_user_permissions Main_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_user_permissions"
    ADD CONSTRAINT "Main_user_user_permissions_pkey" PRIMARY KEY (id);


--
-- Name: Main_user_user_permissions Main_user_user_permissions_user_id_permission_id_c8fbd33f_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_user_permissions"
    ADD CONSTRAINT "Main_user_user_permissions_user_id_permission_id_c8fbd33f_uniq" UNIQUE (user_id, permission_id);


--
-- Name: Main_user Main_user_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user"
    ADD CONSTRAINT "Main_user_username_key" UNIQUE (username);


--
-- Name: Main_weightheightentry Main_weightheightentry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_weightheightentry"
    ADD CONSTRAINT "Main_weightheightentry_pkey" PRIMARY KEY (id);


--
-- Name: Main_workoutsession Main_workoutsession_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_workoutsession"
    ADD CONSTRAINT "Main_workoutsession_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: Main_exercise_name_85b114d6_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_exercise_name_85b114d6_like" ON public."Main_exercise" USING btree (name varchar_pattern_ops);


--
-- Name: Main_set_exercise_id_a89e9e97; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_set_exercise_id_a89e9e97" ON public."Main_set" USING btree (exercise_id);


--
-- Name: Main_set_workout_session_id_17aa00af; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_set_workout_session_id_17aa00af" ON public."Main_set" USING btree (workout_session_id);


--
-- Name: Main_user_groups_group_id_24467e8d; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_user_groups_group_id_24467e8d" ON public."Main_user_groups" USING btree (group_id);


--
-- Name: Main_user_groups_user_id_06b98f59; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_user_groups_user_id_06b98f59" ON public."Main_user_groups" USING btree (user_id);


--
-- Name: Main_user_user_permissions_permission_id_c8036713; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_user_user_permissions_permission_id_c8036713" ON public."Main_user_user_permissions" USING btree (permission_id);


--
-- Name: Main_user_user_permissions_user_id_cb7a0d50; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_user_user_permissions_user_id_cb7a0d50" ON public."Main_user_user_permissions" USING btree (user_id);


--
-- Name: Main_user_username_474178fd_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_user_username_474178fd_like" ON public."Main_user" USING btree (username varchar_pattern_ops);


--
-- Name: Main_weightheightentry_user_id_e6d6aade; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_weightheightentry_user_id_e6d6aade" ON public."Main_weightheightentry" USING btree (user_id);


--
-- Name: Main_workoutsession_profile_id_53007526; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Main_workoutsession_profile_id_53007526" ON public."Main_workoutsession" USING btree (profile_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: Main_profile Main_profile_user_id_ab46b651_fk_Main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_profile"
    ADD CONSTRAINT "Main_profile_user_id_ab46b651_fk_Main_user_id" FOREIGN KEY (user_id) REFERENCES public."Main_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_set Main_set_exercise_id_a89e9e97_fk_Main_exercise_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_set"
    ADD CONSTRAINT "Main_set_exercise_id_a89e9e97_fk_Main_exercise_id" FOREIGN KEY (exercise_id) REFERENCES public."Main_exercise"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_set Main_set_workout_session_id_17aa00af_fk_Main_workoutsession_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_set"
    ADD CONSTRAINT "Main_set_workout_session_id_17aa00af_fk_Main_workoutsession_id" FOREIGN KEY (workout_session_id) REFERENCES public."Main_workoutsession"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_user_groups Main_user_groups_group_id_24467e8d_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_groups"
    ADD CONSTRAINT "Main_user_groups_group_id_24467e8d_fk_auth_group_id" FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_user_groups Main_user_groups_user_id_06b98f59_fk_Main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_groups"
    ADD CONSTRAINT "Main_user_groups_user_id_06b98f59_fk_Main_user_id" FOREIGN KEY (user_id) REFERENCES public."Main_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_user_user_permissions Main_user_user_permi_permission_id_c8036713_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_user_permissions"
    ADD CONSTRAINT "Main_user_user_permi_permission_id_c8036713_fk_auth_perm" FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_user_user_permissions Main_user_user_permissions_user_id_cb7a0d50_fk_Main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_user_user_permissions"
    ADD CONSTRAINT "Main_user_user_permissions_user_id_cb7a0d50_fk_Main_user_id" FOREIGN KEY (user_id) REFERENCES public."Main_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_weightheightentry Main_weightheightentry_user_id_e6d6aade_fk_Main_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_weightheightentry"
    ADD CONSTRAINT "Main_weightheightentry_user_id_e6d6aade_fk_Main_user_id" FOREIGN KEY (user_id) REFERENCES public."Main_user"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Main_workoutsession Main_workoutsession_profile_id_53007526_fk_Main_profile_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Main_workoutsession"
    ADD CONSTRAINT "Main_workoutsession_profile_id_53007526_fk_Main_profile_id" FOREIGN KEY (profile_id) REFERENCES public."Main_profile"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

