{% include "base.html" %}
<title>Exercise Platform</title>
<body>
    <div class="container mt-4">
        <h1 class="text-center">{{ title }}</h1>
        {% if user.is_authenticated %}
            <div class="welcome-section">
            </div>
            
            <div class="workouts-section my-4">
                <h2>Your Recent Workouts</h2>
                <div class="list-group">
                    {% for workout in UserWorkoutSessions %}
                        <div class="list-group-item">
                            <a href="{% url 'main:WorkoutSessionDetail' workout.id workout.title %}" class="list-group-item-action">{{ workout.title }}</a>
                            <div class="d-flex justify-content-between mt-2">
                                <a href="{% url 'main:delete_WorkoutSession' workout.title workout.id  %}" class="btn btn-danger btn-sm">Delete {{ workout.title }}</a>
                                <a href="{% url 'main:update_WorkoutSession' workout.id %}" class="btn btn-warning btn-sm">Update {{ workout.title }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="journey-section my-4">
                <h2>See your journey</h2>

                {% if bmi %}
                    <div class="alert alert-info">
                        <h4>Your Current BMI: {{ bmi }}</h4>
                        <h4>Your Goal BMI: {{ goal_bmi }}</h4>
                    </div>
                {% endif %}
                
                {% if bmi_plot %}
                    <div class="plot-section">
                        <div>{{ bmi_plot|safe }}</div>
                    </div>
                {% endif %}
                
                {% if weight_plot %}
                    <div class="plot-section">
                        <div>{{ weight_plot|safe }}</div>
                    </div>
                {% endif %}
            </div>

            <div class="log-workout-section my-4">
                <h2>Log a New Workout</h2>
                <form method="POST" action="{% url 'main:createWorkoutSession' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ createWorkoutSession.as_p }}
                    </div>
                    <div class="form-group">
                        {% comment %} {{ formset.management_form }} {% endcomment %}
                    </div>
                    <div id="sets">
                        {% for f in formset %}
                            <div class="set-form border p-3 mb-2">
                                {{ f.non_field_errors }}
                                {% for hidden in f.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                                <div class="form-row">
                                    {% for field in f.visible_fields %}
                                        <div class="form-group col-md-6">
                                            {{ field.label_tag }} {{ field }}
                                            {% if field.help_text %}
                                                <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        
        {% else %}
            <div class="register-section my-4">
                <h1>Register an account</h1>
                <form method="post" action="{% url 'main:registration' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in registration %}
                            {% if field.is_hidden %}
                                {{ field }}
                            {% else %}
                                <p>{{ field.label_tag }} {{ field }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        {% endif %}
    </div>
</body>
