{% include "base.html" %}
<title> Recipe Search </title>

<form action="{% url 'main:WorkoutSessionSearch' %}" method="GET">
    Search <input type="text" name="keyword" value="{{ keyword }}" placeholder="Keyword Search"/>
    <input type="submit" name="submit" value="search"/>
</form>

<h1>Results</h1>
        {% for workout in object_list %}
            <a href="{% url 'main:WorkoutSessionDetail'  title=WorkoutSession.title WorkoutSession_id=WorkoutSession.id %}">{{ recipe.title }}</a>
        {% endfor %}

{% if not object_list  and  user.is_authenticated %}
<p>That recipe does not exist yet. You can add that as a new recipe <a href="{% url 'main:createWorkoutSession' %}">here</a></p>
{% endif %}

{% comment %}TODO Figure out how to display all recipes without overriding the logic here {% endcomment %}



    
        



