{% include "base.html" %}
<title> Workout History Search </title>

<form action="{% url 'main:WorkoutSessionSearch' %}" method="GET">
    Search <input type="text" name="keyword" value="{{ keyword }}" placeholder="Keyword Search"/>
    <input type="submit" name="submit" value="search"/>
</form>

<h1>Results</h1>
        {% for workout in object_list %} {% comment %}#TODO:PRETTIFY {% endcomment%}
            <a href="{% url 'main:WorkoutSessionDetail' workout.id workout.title  %}">{{ workout.title }}</a>
        {% endfor %}

{% if not object_list  and  user.is_authenticated %}
<p> No record of that workout. Add it <a href="{% url 'main:createWorkoutSession' %}">here</a></p>
{% endif %}



    
        



