{% include "base.html" %}
<head>
    <title>Workout Statistics</title>
</head>

<body>
<div class="container">
    <h1 class="mt-4 mb-3">Workout Statistics</h1>
<!-- 
    <div class="card mb-4">
        <div class="card-header">
            <h2>BMI Scatter Plot</h2>
        </div>
        <div class="card-body">
            <div id="plotly-chart">{{ bmi_plot | safe }}</div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h2>Height & Weight Plot</h2>
        </div>
        <div class="card-body">
            <div id="plotly-chart">{{ bmi_plot | safe }}</div>
        </div>
    </div> -->

    <div class="card mb-4">
        <div class="card-header">
            <h2>Create Your Own Plot</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'main:statistics' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ create.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

    {% if custom_chart %}
    <div class="card mb-4">
        <div class="card-header">
            <h2>Custom Chart</h2>
        </div>
        <div class="card-body">
            {{ custom_chart|safe }}
        </div>
    </div>
    {% endif %}

    <p>Want to get a reminder to workout? <a href="{% url 'main:settings' %}">Click here!</a></p>

    <div class="card mt-4">
        <div class="card-header">
            <h2>Favorite Workout</h2>
        </div>
        <div class="card-body">
            <p>{{ favorite_exercise }}</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            <h2>Favorite Type of Workout</h2>
        </div>
        <div class="card-body">
            <p>{{ favorite_type }}</p>
        </div>
    </div>
</div>
</body>
