{% include "base.html" %}
{% comment %} #TODO => Add more to this and PRETTIFY {% endcomment %}

<head>
    <title>{{ object.title }} - Workout </title>
</head>

<body class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">{{ object.title }}</h1>
        </div>
        <div class="card-body">
            <p><strong>Workout Type:</strong> {{ object.workout_type }}</p>
            <p><strong>Duration:</strong> {{ object.duration }}</p>

            <h2 class="mt-4">Sets</h2>
            <ul class="list-group list-group-flush">
                {% for set in sets %}
                    <li class="list-group-item">{{ set }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
    

